.debug {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;;
  grid-gap: 10px;
  padding: 6px;
}

.debug-element {
  font-size: 18px;
  padding: 6px 10px;
  color: white;
  background-color: #00000085;
  border-radius: 6px;
  text-align: left;
}